{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>{% block title %}404 Page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/adminsign.css')}}">
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="page-wrapper">
      <div class="container">

      
      <h3>Oops this page doens't exit</h3>
    </div>
    </div>
    {% endblock %}
  </body>
</html>
