<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>{% block title %}Home{% endblock %}</title>
  {% endblock %}

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/loginbtn.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/preloader.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/slider.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/navigation.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-4.1.3/css/bootstrap.min.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-4.1.3/js/bootstrap.min.js')}}" />


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <div class="preloader">
    <div class="loader rubix-cube">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3 color-1"></div>
      <div class="layer layer-4"></div>
      <div class="layer layer-5"></div>
      <div class="layer layer-6"></div>
      <div class="layer layer-7"></div>
      <div class="layer layer-8"></div>
    </div>
  </div>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('view.home')}}" right-16><strong>TDHC MGS</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <!-- mx- -->
          <ul class="navbar-nav justify-content-center middle">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('view.home')}}" right-16><strong>Home
                  |</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" right-16><strong>Youth Login |</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" right-16><strong>About</strong></a>
            </li>
          </ul>
        </ul>

        <ul class="navbar-nav justify-content-right">
          <li>
            <a href="{{ url_for('authent.login')}}">
              <button class="loginbtn" data-bs-toggle="modal" data-bs-target="#student"><strong>Staff
                  Only</strong></button>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %} {% for category, message in messages %}
  {% if category == "error" %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button class="close" data-dismiss="alert" type="button">&times;</button>
  </div>

  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button class="close" data-dismiss="alert" type="button">&times;</button>
  </div>
  {% endif %}{% endfor %}{% endif %}{% endwith %}


  <!--====== jquery js ======-->
  <script src="{{url_for('static', filename='jss/vendor/modernizr-3.6.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='jss/vendor/jquery-1.12.4.min.js')}}"></script>
  <script src="{{url_for('static', filename='jss/bootstrap.min.js')}}"></script>
  {% block content %}
  {% endblock %}
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="Logo-tex"><span>TDHC</span>MGS</h2>
        <p>As followers of Christ, our mission <br>is to be disciples who make disciples.<br>
          who make disciples. The church is a way for followers of Jesus to this mission.
          At its best, the unity in Christ we experience in the church can even give us a taste of the glory to come in
          Revelation.
        </p>
        <div class="socials">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
        <br>
        <ul>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Events</a>
          <a href="#">Events</a>
        </ul>
      </div>

      <div class="footer-section contact-form">
        <h2>Contact Us</h2>
        <br>
        <span><i class="fa fa-phone"> &nbsp;</i>0247578054</span>
        <span><i class="fa fa-envelope"> &nbsp;</i>divinehealerschurch@gmail.com</span>
      </div>
    </div>

    <div class="footer-bottom">
      &copy; thedevinehealerschurch@mail.com
    </div>
  </div>

  <a class="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>



  <link href="{{url_for('static', filename='css/animate.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/slick.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>