{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>{% block title %}Home Page{% endblock %}</title>

    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container">
        <img src="http://i.giphy.com/13Xkz5sLdjGiQw.gif" />
    </div>

    <h4>This is the home page</h4>

    {% endblock %}
</body>

</html>