{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>{% block title %}Youth Login{% endblock %}</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='/css/ylog.css')}}"/>

    <link rel="stylesheet"href="{{ url_for('static', filename='/css/ysignup.css')}}"/>
    {% endblock %}
  </head>

  <body>
    {% block content %}
    <div class="page-wrapper">
      <div class="signup-page">
        <form action="" class="mt-5 border p-4 bg-light shadow" method="post">
          {{ form.hidden_tag()}}

          <h3>Login</h3>
          <div class="form-group">
            {{form.branch_id(class='form-control')}}
          </div>

          <div class="form-group">
            {{form.password(class='form-control')}}
          </div>

          <div class="mb-3 form-check form-group">
            {{ form.remember(class='form-check-input')}}
            {{ form.remember.label }}
            <a href="#" class="float-end">Forgot Password</a>
          </div>

          <div class="modal-footer d-block">
            {{ form.submit(class='btn btn-primary' )}}
          </div>
          
          <div class="form-group">
            <p class="text-center">Don't have an account?
              <a href="{{url_for('youth.ysignup')}}">Signup</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
